<aside id="sidebar" class="four columns">
  <nav id="sidebar-menu">
    <ul>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Products', '/user/products' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Creating Products", '/user/creating_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Deleting Products", '/user/deleting_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Editing Products", '/user/editing_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Cloning Products", '/user/cloning_products' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Options", '/user/product_options' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Properties", '/user/product_properties' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Prototypes", '/user/product_prototypes' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Searching Products", '/user/searching_products' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Orders', '/user/orders' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Processing Orders", '/user/processing_orders' %>
          </li>

          <li>
            <i class="icon-dot"></i>
            <%= link_to "Entering Orders", '/user/entering_orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Editing Orders", '/user/editing_orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Order States", '/user/order_states' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Returning Orders", '/user/returning_orders' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Searching Orders", '/user/searching_orders' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Payments', '/user/payments' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Payment Methods", '/user/payment_methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Payment States", '/user/payment_states' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Shipments', '/user/shipments' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Shipping Categories", '/user/shipping_categories' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Zones", '/user/zones' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Calculators", '/user/calculators' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Shipping Methods", '/user/shipping_methods' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-tutorial-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Configuration', '/user/configuration' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "General Settings", '/user/configuring_general_settings' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Mail Methods", '/user/configuring_mail_methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Images", '/user/configuring_images' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Taxation", '/user/configuring_taxes' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Zones, Countries, and States", '/user/configuring_geography' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Payment Methods", '/user/payment_methods' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Taxonomies", '/user/configuring_taxonomies' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Shipping Methods and Categories", '/user/shipments' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Inventory Settings", '/user/configuring_inventory' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Configuring Analytics", '/user/configuring_analytics' %>
          </li>
        </ul>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Promotions', '/user/promotions' %>
        </h3>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed toggle-source-code-menu"><i class="icon-right-open"></i></a>
          <%= link_to 'Reports', '/user/reports' %>
        </h3>
      </li>
      <li class='js-topic'>
        <h3>
          <a href="#" class="js-expand-btn collapsed"><i class="icon-right-open"></i></a>
          <%= link_to 'Extensions', '/user/extensions' %>
        </h3>
        <ul class="js-guides">
          <li>
            <i class="icon-dot"></i>
            <%= link_to "Introduction", '/user/extensions', 'introduction' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_paypal_express", '/user/extensions', 'spreepaypalexpress' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_gateway", '/user/extensions', 'spreegateway' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_wishlist", '/user/extensions', 'spreewishlist' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_email_to_friend", '/user/extensions', 'spreeemailtofriend' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_reviews", '/user/extensions', 'spreereviews' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_social", '/user/extensions', 'spreesocial' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree_multi_currency", '/user/extensions', 'spreemulticurrency' %>
          </li>
          <li>
            <i class="icon-dot"></i>
            <%= link_to "spree-multi-domain", '/user/extensions', 'spree-multi-domain' %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
